<div class="normal">
    <footer>
        <a href="#" id="top"></a>
        <br/>
        <small>&copy; Created by Armand <time datetime="2022-02-27 23:59">27.02.2022 23:59:59</time></small>
    </footer>
</div>