<div class="header">
    <header>
        <h1 id="titlu"><i class="fa-solid fa-seedling"></i><strong>Natura</strong> <i class="fa-solid fa-tree fa-flip" style="--fa-animation-duration: 3s;"></i></i></i></h1>
        
        <nav>
            <label id="hamburger" for="ch-menu">
                <img src="resurse/imagini/hamburger_negru.png" alt="menu">
            </label>
            <input id="ch-menu" type="checkbox">
            <ul class="meniu">
                <li><div><a href="index">Acasa</a></div>
                    <ul>
                        <li><a href="/produse?tip=copaci">Copaci</a></li>
                        <li><a href="/produse?tip=flori">Flori</a></li>
                        <li><a href="/produse?tip=arbusti">Arbusti</a></li>
                    </ul>
                </li>
                <li><a href="index">Pagina principală</a></li>
                <li><a href="resurse/documente/despre.txt" download>Despre firma</a></li>
                <li><a href="https://www.google.com" target="_blank">Google</a></li>
            </ul>
        </nav>
        <button id="tema">Schimba tema</button>
    </header>
</div>